---
---

@import "{{ site.theme }}";

.capback{
  background-image: url("/assets/images/tractor-385681_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.page-header{
 height: 20%;
}